*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
    font-weight: bold;
}

header{
    margin-bottom: 2em;
}

pre{
    background-color: #eee;
    height: 8vh;
    border-radius: 0.3em;
    padding-inline: 2em;
    margin-bottom: 2em;
}

textarea{
    height: 18vh;
    width: 45vw;
    border-radius: 0.3em;
    padding: 0.5em;

}
textarea::placeholder{
    font: 14px/1.5 Lato, sans-serif;
    color: black;
    font-weight: bold;
}