html{
    font:14px/1.5 Lato, sans-serif;
}

.container{
    border: 2px solid lightgrey;
    max-width: 600px;
    margin: 0 auto;
}

.content{
    border: 1px solid lightgrey;
}

p{
    padding-inline: 1em;
}


details > summary{
    list-style: none;
    padding-left: 0.5em;
}

details summary:before {
    display: inline-block;
    content: '>';
    margin-right: 0.5em;
}
 details[open] summary {
    padding-bottom: 1em;
}
details[open] summary:before {
    content: '^';
    transform: rotate(180deg);
}

