*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
    background-color: #eeee;
}

.site{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    gap: 2em;

}
article{
    background-color: white;
    padding: 2em;
}

.site > main article{
    display: flex;
    gap: 2em;
}

article + article{
    margin-top: 2em;
}

main > article .media{
    flex: 1 0 30%;
}


article .avatar{
    height: 100%;
    min-height: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.1);
    border: 0.3em solid #fff;
    overflow: hidden;
}

.media img{
    height: auto;
    width: 100%;
    display: block;
}

.site > main{
    flex: 0 0 70%;
}

article .content::before{
    display: block;
    content: "''";
    font-size: 6em;
    line-height: 0.5;
}

.site aside article .media{
    padding-top: 2em;
}

