html {
    font: 14px/1.5 Lato, sans-serif;
}

body{
    padding: 1em;
}
li{
    display: inline-block;
    margin: 0.3em;
    padding: 1em 1.5em;
    text-align: center;
    color: #333;
    background: #DDD;
    border-radius: 0.3em;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

li:nth-child(2){
    background-color: darkorange;
}

li:nth-child(3){
    background-color: lightyellow;
}

li:nth-child(4){
    background-color: white;
}

li:last-child{
    width: 90px;
    text-align: right;
}

li:hover{
    color: chocolate;
}