*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background-color: #eeee;
    font: 12px/1.5 Lato, sans-serif;

}

.site{
    display: flex;
    background-color: #ffff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em (0, 0, 0, 0.1);
    padding: 2em;
    gap: 1em;
    align-items: flex-start;
}

.site > div{
    background-color: #eee;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rbg(0, 0, 0, 0.1);
}

.site > header{
    flex: 1 0 30%;
}