section{
    border: 2px solid #000;
    padding: 2em;
    position: relative;
}

div.item{
    border: 1px solid #333;
    padding: 0.5em;
    width: 5em;
    height: 5em;
}

#sec-pos-rel{
    position: relative;
    left: 5em;
    top: 2em;
    background-color: lightgreen;
}

#sec-pos-rel-abs{
    position: absolute;
    left: 4em;
    top: 4em;
    background-color: rgb(222, 247, 255);
}