@media all{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
        background-color: #eeee;
    }
}

@media screen and (max-width: 800px){
    .site{
        border: 0.1px solid grey;
        border-radius: 0.3em;
        padding: 1em;
        box-shadow: 0 0 1em rbg(0, 0, 0, 0.1);
        background-color: #ffff;

    }

    .site > *{
        border: 1px solid grey;
        padding: 1em;
        margin: 1em;
        border-radius: 0.3em;
        font-weight: bold;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    body{
        padding: 4em;
        font: 14px/1.5 Lato, sans-serif;
        background-color: #eeee;
    }

    .site{
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 2em;
        max-width: 1000px;
        border-radius: 0.3em;
        box-shadow: 0 0 1em rbg(0, 0, 0, 0.1);
        margin: 0 auto;
    }

    .site > *{
        border: 2px solid #ddd;
        padding: 2em;
        border-radius: 0.3em;
        font-weight: bold;
    }

    .site > header,
    .site > footer{
        flex: 1 0 100%;
    }

    .site > main{
        flex: 0 0 70%;
    }
    
    .site > aside{
        flex: 1 auto;
    }

    
}