body {
    font: 14px/1.5 Lato, sans-serif;
}

section{
    overflow: hidden;
    margin: 0 auto;
    background-color: #eee;
    background-image: url(images/image1.jpg);
    background-position: center;
    background-size: cover;
    min-height: max(30vh, 500px);
    position: relative;
}

.content{
    color: #fff;
    max-width: 30rem;
    text-align: center;
    text-shadow: 0 0 1em #000;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 100;
}