div p{
    color: blue;
}

ul li{
    list-style-type: circle;
}

div + p{
    color: blue;
    background-color: lightgray;
}

p span{
    color: red;
    font-weight:bold;
}
span{
    color: red;
    font-weight: bold;
}