*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
    font-weight: bold;
}

header{
    margin-bottom: 3em;
}

pre{
    background-color: #eee;
    height: 8vh;
    padding-inline: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    border: 1px solid rgb(202, 202, 202);
    
}

form{
    margin-bottom: 2em;
    border-radius: 0.3em;
}

input{
    width: 17vw;
    height: 4vh;
    padding-inline: 1em;
   
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 0.5; /* Make the spin buttons visible */
}

